.navigation {
    &-main {
        margin: 50px 0;

        i {
            padding-right: 4px;
        }

        &__item {
            display: block;
            padding: 15px 20px;
            font-size: 14px;
            transition-duration: 0.5s;

            &_active {
                background-color: #fff;
                color:#555;
            }

            &_hover:hover {
                background-color: rgba(255, 255, 255, 0.1);
                color: #27cab9;
            }
        }

        &__children-name {
            display: block;
            margin-bottom: 10px;
        }

        &__childrens {
            .navigation-main__item {
                padding: 10px 20px;

                &_active {
                    color:#ed6565;
                }

                &_hover:hover {
                    color: #27cab9;
                }
            }
        }
    }
}