@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), 
        url('../../fonts/roboto/Robotolight.woff2') format('woff2'), 
        url('../../fonts/roboto/Robotolight.woff') format('woff'), 
        url('../../fonts/roboto/Robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), 
        url('../../fonts/roboto/Roboto.woff2') format('woff2'), 
        url('../../fonts/roboto/Roboto.woff') format('woff'), 
        url('../../fonts/roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), 
        url('../../fonts/roboto/Robotomedium.woff2') format('woff2'), 
        url('../../fonts/roboto/Robotomedium.woff') format('woff'), 
        url('../../fonts/roboto/Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    font-family: 'Roboto', HelveticaNeue, sans-serif;
    color: #555;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', HelveticaNeue, sans-serif;
    font-weight: 300;
}

b, strong {
    font-family: 'Roboto', HelveticaNeue, sans-serif;
    font-weight: 500;
}

a {
    color: inherit;
    text-decoration: none;
}