* {
    box-sizing: border-box;
}

/**
 * text align
 */
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

/*
 * colors
 */
.color-red {
    color: #ed6565;
}

.color-blue {
    color: #27cab9;
}

/*
 * margins
 */
.m-t_40 {
    margin-top: 40px;
}