.wrapper {
    display: flex;
    min-height: 100vh;
    background-color: #fff;

    &__left {
        width: 300px;
        background-color: #242d37;
        color: #ddd;

        .logo {
            text-align: center;
            &::first-letter {
                color: #ed6565;
            }
        }

        .exit {
            display: block;
            font-size: 14px;
            text-align: center;
            margin-top: -22px;
            margin-bottom: 12px;
        }

        hr {
            border: 0;
            border-bottom: 1px solid #ddd;
        }
    }

    &__right {
        width: 100%;
        min-width: 600px;
        padding: 50px;
    }
}