@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.5, 1.5, 1.5);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
}
  
.pulse {
    animation-name: pulse;
}
  
.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
}

@media (prefers-reduced-motion) {
    .animated {
        animation: unset !important;
        transition: none !important;
    }
}