.wrapper {
    min-height: ~"calc(100vh - 556px)";
}

.section {
    padding: 50px 0;
}

/*
 * front page
 */
 .front-page {
    &__skill {
        display: flex;
        max-width: 400px;
        align-items: center;
        margin-bottom: 10px;
        float: left;

        &_right {
            float: right;

            .front-page__skill {
                &-info {
                    border-color: #27cab9;
                }
            }
        }

        &-name {
            font-size: 25px;
            line-height: 1;
            padding: 10px;
        }

        &-info {
            font-size: 15px;
            line-height: 1.4;
            padding: 10px 7px;
            margin-left: 4px;
            border-left: 1px solid #ed6565;
        }

        &-wrapper {
            padding-left: 50px;
        }
    }

    &__section-blog {
        color:#fff;
        text-align: center;
        background-color: #ed6565;

        &_btn {
            border-color: #fff;
            &:hover {
                background-color: #fff;
                color: #555;
            }
        }
    }

    &__title {
        display: inline-block;
    }
}

@media(max-width: 768px) {
    .front-page {
        &__skill {
            float: none;
            max-width: 100%;
            display: block;
            
            &_right {
                float: none;
            }

            &-info {
                border-left: 0;
                border-top: 1px solid #ed6565;
            }

            &-wrapper {
                padding-left: 15px;
            }
        }

        &__title {
            text-align: center;
            display: block;
            margin-bottom: 40px;
            margin-top: 10px;
        }
    }
}

/*
 * page 404
 */
.page-404__img {
    max-width: 100%;
    height: auto;
}

/*
 * posts
 */
.posts {
    &__container {
        margin-bottom: 60px;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__image {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
        padding: 10px;
        background-color: #eee;
    }

    &__info {
        display: flex;
    }

    &__date {
        padding: 15px 20px 15px 0;
        text-align: center;

        &-month {
            display: block;
            text-transform: uppercase;
            font-size: 20px;
            padding-bottom: 5px;
        }
    }

    &__btns {
        text-align: right;
        margin-top: 10px;
    }
}

@media(max-width: 768px) {
    .posts {
        &__no-list {
            text-align: center;
        }

        &__title {
            text-align: center;
        }

        &__info {
            display: block;
        }

        &__date {
            padding: 0 0 10px 0;
        }

        &__btns {
            text-align: center;
        }
    }
}

/*
 * post
 */
.post {
    &__image {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
        padding: 10px;
        background-color: #eee;
    }

    &__date {
        span {
            display: inline-block;
            border-top: 1px solid #555;
            padding: 5px 10px;
        }
    }
}

@media(max-width: 768px) {
    .post {
        &__date {
            text-align: center;

            span {
                display: block;
            }
        }
    }
}