.btn {
    display: inline-block;
    line-height: 1;
    padding: 10px 15px;
    cursor: pointer;
    background: none;
    background-color: #fff;
    border: 1px solid #555;
    color: #555;
    outline: 0;
    font-size: 16px;
    font-weight: 300;

    &:hover {
        background-color: #fff;
        border-color: #999;
        color: #999;
    }

    &_lg {
        font-size: 22px;
        padding: 15px 30px;
    }

    &_blue {
        background-color: #27cab9;
        border-color: #27cab9;
        color: #fff;

        &:hover {
            background-color: rgba(39, 202, 185, 0.7);
            border-color: #27cab9;
            color: rgb(70, 8, 8);
        }
    }

    &_red {
        background-color: #ed6565;
        border-color: #ed6565;
        color: #fff;

        &:hover {
            background-color: rgba(237, 101, 101, 0.8);
            border-color: #ed6565;
            color: #fff;
        }
    }
}