.footer {
    padding: 50px 0;
    background-color: #242d37;
    color: #ddd;

    &-contact {
        text-align: center;

        &__info > * {
            display: inline-block;
            padding: 5px 10px;
        }

        &__title {
            display: inline-block;
        }
    }
}