.form {
    margin-bottom: 30px;

    &__group {
        margin-bottom: 30px;
    }

    input {
        width: 100%;
        padding: 10px 15px;
        outline: 0;
        background: none;
        background-color: #fff;
        border: 1px solid #555;
    }
}