.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    &__col {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
}

@media(min-width: 768px) {
    .grid__col {
        &_sm-70 { width: 70%; }
        &_sm-60 { width: 60%; }
        &_sm-50 { width: 50%; }
        &_sm-40 { width: 40%; }
        &_sm-33 { width: 33.33333%; }
        &_sm-30 { width: 30%; }
    }
}