/*
 * logo
 */
.header-logo {
    margin: 13px 0;
    font-size: 18px;
    padding-bottom: 2px;
    border-bottom: 1px solid #555;
    display: inline-block;

    &::before {
        content: '# ';
        color: #27cab9;
    }
}

/*
 * header
 */
.header {
    background-color: #ed6565;
    color: #fff;
    padding: 50px 0;

    &__title {
        display: inline-block;
        border-bottom: 1px solid #fff;
    }
}

@media(max-width: 768px) {
    .header {
        text-align: center;
    }
}