.navigation {
    &-horizontal {
        text-align: right;
        padding: 10px 0;
        margin-left: -15px;
        margin-right: -15px;

        &__item {
            text-decoration: none;
            font-size: 16px;
            color: #555;
            display: inline-block;
            padding: 5px 15px;
            white-space: nowrap;
        }
    }
}

@media(max-width: 768px) {
    .navigation {
        &-horizontal {
            text-align: center;
        }
    }
}