.pagination {
    margin: 30px 0;

    &__item {
        padding: 5px 10px;
        border: 1px solid #555;
        background-color: #fff;
        color: #555;
        display: inline-block;
        margin: 5px 3px;
        
        &:hover:not(.pagination__item_list):not(.pagination__item_active) {
            border-color: #999;
            color: #999;
        }

        &_active {
            border-color: #ed6565;
            color: #ed6565;
        }
    }
}

@media(max-width: 400px) {
    .pagination {
        text-align: center;

        &__item {
            &_last, &_first {
                display: block;
            }
        }
    }
}