* {
    box-sizing: border-box;
}

/**
 * container
 */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; 
}

@media(min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/**
 * text align
 */
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

/*
 * colors
 */
.color-red {
    color: #ed6565;
}

.color-blue {
    color: #27cab9;
}

/*
 * margins
 */
.m-t_40 {
    margin-top: 40px;
}